.all{
    padding-bottom: 45px;
}
.top{
    color: rgba(24, 21, 21, 0.877);
    background-color: yellow;
    width: 60px;
    height: 24px;
    text-align: center;
    margin-top: auto;
    font-size: 17px;
    font-weight: 700;
    border-radius:5px
    
}
.adm-list-item-content-main{
    padding: 0
}

.top1{
    
    margin-top: -24px;
    margin-left: 90px;
    font-size: 14px;
    color:aliceblue
}

.tab{
    
    position: relative;
}

.tabs{
   background-color: #500000
}
.tab1{
    color: red;
}

.btn{
   
    position:absolute;
    left: 280px;
    top:7px;
    color: white;
    border-color: white;
    font-size: 14px;
    
}
.tit{
    font-size: 18px;
    color: #ffffff;
    margin-top: 8px;
}
.tit1{
    
    color: 	#FCFCFC;
   
}