.container .top .adm-capsule-tabs .adm-capsule-tabs-header .adm-capsule-tabs-tab-list .adm-capsule-tabs-tab-wrapper .adm-capsule-tabs-tab {
  padding: 2px 12px;
}

.container .top .adm-capsule-tabs .adm-capsule-tabs-header .adm-capsule-tabs-tab-list .adm-capsule-tabs-tab-wrapper .adm-capsule-tabs-tab-active {
  background-color: var(--adm-color-warning);
}

.container .YC .YC_header .adm-grid {
  height: 40px;
}

.container .YC .YC_header .adm-grid .adm-grid-item {
  line-height: 40px;
  text-align: center;
}

.container .YC .YC_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container .YC .YC_body .YC_body_item {
  position: relative;
  border-radius: 5px;
  width: 32%;
  height: 120px;
}

.container .YC .YC_body .YC_body_item .adm-image .adm-image-img {
  border-radius: 5px;
  height: 100px;
}

.container .YC .YC_body .YC_body_item .imgfooter {
  color: white;
  position: absolute;
  top: 86px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px -10px 10px gray inset;
  font-size: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container .YC .YC_body .YC_body_item .imgfooter .nickname {
  float: left;
  margin-left: 2px;
}

.container .ST {
  margin-top: 10px;
}

.container .ST .ST_header {
  font-size: 20px;
  padding: 10px 0px;
  border-bottom: 1px solid #eee;
}

.container .ST .ST_body {
  background-color: #eee;
}

.container .ST .ST_body .ST_body_item {
  margin-bottom: 10px;
  background-color: white;
}

.container .ST .ST_body .ST_body_item .ST_body_item_header {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.container .ST .ST_body .ST_body_item .ST_body_item_header .ST_body_item_header_title {
  font-size: 15px;
  font-weight: 700;
}

.container .ST .ST_body .ST_body_item .ST_body_item_header button {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 50%;
  font-size: 10px;
  display: block;
}

.container .ST .ST_body .ST_body_item .adm-space {
  margin-bottom: 5px;
}

.container .ST .ST_body .ST_body_item .adm-space .adm-space-item .adm-tag {
  color: #444;
  background-color: #eee;
  border: 0px;
  padding: 3px 4px;
}

.container .ST .ST_body .ST_body_item .adm-image .adm-image-img {
  border-radius: 15px;
}

.container .ST .ST_body .ST_body_item .ST_body_item_footer {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.container .ST .ST_body .ST_body_item .ST_body_item_footer .nickname {
  font-size: 15px;
}

.container .ST .ST_body .ST_body_item .ST_body_item_footer .likes_count {
  margin-right: 5px;
  font-size: 15px;
}
