.allList {
    .ListHeader {
        .adm-list-header {
            background-color: rgb(32, 32, 32);
        }
        .adm-list-body {
            .adm-list-body-inner {
                .adm-list-item {
                    float: left;
                    width: 70px;
                    text-align: center;
                    background-color: rgb(32, 32, 32);
                    border-radius: 20%;
                    margin-left: 5px;
                     :hover {
                        color: white;
                    }
                    a {
                        color: orange;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .ListBody {
        margin-top: 5px;
        .adm-card {
            // height: 450px;
            background: linear-gradient( 90deg, rgb(218, 238, 144) 20%, rgb(207, 155, 120) 100%, transparent 80%);
            .adm-card-header {
                font-size: large;
            }
            .adm-card-body {
                .ranking_content__9TC6j {
                    img {
                        float: left;
                        width: 180px;
                    }
                }
                .Book_Detail {
                    text-align: center;
                    height: 50px;
                    text-indent: 1em;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .Book_username {
                    height: 20px;
                    text-indent: 1em;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .Book_introduce {
                    // display: -webkit-box; （兼容性）
                    // -webkit-line-clamp:3;（指定显示行数）
                    // -webkit-box-orient: vertical;（文本垂直排列）
                    // overflow: hidden; （多余部分隐藏）
                    text-indent: 15px;
                    padding-top: 10px;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    color: gray;
                }
                .Book_update {
                    padding-top: 20px;
                    padding-bottom: 80px;
                    text-indent: 5px;
                }
            }
        }
    }
    .more {
        padding-right: 20px;
        float: right;
        a {
            text-decoration: none;
            color: orangered;
        }
    }
    .adm-capsule-tabs-tab-wrapper {
        // background-color: var(--adm-color-warning);
        .adm-capsule-tabs-tab {
            background-color: var(--adm-color-warning);
        }
    }
}